body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
  color: #f8f9fa;
}
ul,
ol {
  list-style: none;
}
.container {
  max-width: 800px;
  margin: auto;
  background: #1b1b1b;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
.form-text {
  color: #f7e306;
  text-align: center;
  word-wrap: break-word;
}
h2 {
  border-bottom: 2px solid #f7e306;
  padding-bottom: 5px;
  margin-top: 20px;
}
p {
  color: #fbfbfb;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  background: #1b1b1b;
  margin: 5px 0;
  padding: 10px;
  border-left: 5px solid #f7e306;
}
.contact {
  text-align: center;
  margin-top: 20px;
}
.contact a {
  display: inline-block;
  text-decoration: none;
  background: #f7e306;
  color: #1b1b1b;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.contact a:hover {
  border: 1px solid #fbfbfb;
  background: transparent;
  color: #fbfbfb;
}
.contacts-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  resize: none;
  display: flex;
  flex-direction: column;
}
input {
  width: 400px;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #918f8f;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}
input:focus {
  border-color: #0f0f0f;
  outline: none;
}
.form-button {
  margin: 0 auto;
  width: 120px;
  margin-top: 15px;
  background: #f7e306;
  color: #0f0f0f;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}
.form-button:hover {
  background: transparent;
  color: var(--accent);
  border: 1px solid #fbfbfb;
}
