:root {
    --main-light: #fbfbfb;
    --main-dark: #1b1b1b;
    --accent: #f7e306;
    --gray-light: #918f8f;
    --gray-transparent: #eeeeee;
    --deep-dark: #0f0f0f;
  }
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  body {
    font-family: "Roboto", serif;
  }
  main {
    background-color: var(--main-dark);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  ul,
  ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  img {
    display: block;
  }
  address {
    font-style: normal;
  }
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  .container {
    max-width: 375px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .container-wrapper {
    /* width: 100%; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    background-color: var(--gray-light);
    width: 100%;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  }
  .header-link {
    display: none;
  }
  .header-list {
    display: none;
  }
  .header-logo {
    position: absolute;
    top: 5px;
    left: 0;
  }
  .main-logo {
    width: 100%;
    height: 100%;
    max-width: 60px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .header-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .header-list-link,
  .burger-link,
  .header-link-visible {
    padding: 20px 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  .header-list-link:hover,
  .header-link-visible:hover,
  .footer-company-link:hover,
  .footer-contact-phone a:hover {
    color: var(--accent);
  }
  .footer-company-link,
  .footer-contact-phone a {
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  .contact-phone a:hover {
    color: var(--main-light);
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .ham {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 9999;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  .burger-menu {
    position: fixed;
    top: 70px;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    background-color: var(--main-dark);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    will-change: transform;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .burger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .burger-menu ul li {
    margin: 15px 0;
  }
  .burger-menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--main-light);
    transition: color 0.3s;
  }
  .burger-menu ul li a:hover {
    color: var(--accent);
  }
  .burger-menu.open {
    transform: translateX(0);
    transition: all 0.4s ease;
  }
  /* ============= */
  
  .hero {
    background-image: url(/src/img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-dark);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-button {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 8px 10px;
    background-color: var(--accent);
    border-radius: 11px;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
  }
  .hero-button:hover {
    color: var(--main-light);
    border: 1px solid var(--main-light);
    background-color: transparent;
    transition: all 0.3s ease-in;
  }
  .about-us {
    background-color: var(--main-dark);
    padding: 30px 0 50px;
  }
  .about-us-title {
    color: var(--accent);
    margin-bottom: 10px;
    text-align: center;
  }
  .about-us-text {
    color: var(--main-light);
  }
  .our-services {
    padding: 30px 0 50px;
    background-color: var(--main-light);
  }
  .our-services-title {
    color: var(--main-dark);
    margin-bottom: 10px;
    text-align: center;
  }
  .our-services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .our-services-list-item {
    width: 168px;
    height: 101px;
    background-color: var(--gray-transparent);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }
  .our-services-list-item:hover .icon {
    fill: var(--main-light);
    transition: all 0.3s ease-in;
  }
  .our-services-list-item:hover {
    color: #fbfbfb;
    transition: all 0.3s ease-in;
    background-color: var(--main-dark);
    border-radius: 8px;
  }
  .our-advantages {
    padding: 30px 0 50px;
    background-color: var(--main-dark);
  }
  .our-advantages-title {
    color: var(--accent);
    text-align: center;
    margin-bottom: 10px;
  }
  .our-advantages-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .our-advantages-list-title {
    color: var(--gray-transparent);
    text-align: center;
    margin-bottom: 5px;
  }
  .our-advantages-text {
    color: var(--main-light);
    text-align: center;
  }
  .contacts-with-us {
    padding: 30px 0 50px;
    background: rgb(27, 27, 27);
    background: linear-gradient(162deg, rgba(27, 27, 27, 1) 36%, rgba(247, 227, 6, 1) 56%);
  }
  .form-text {
    color: var(--main-light);
  }
  .contacts-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
  }
  .contacts-form-right {
  }
  .form {
    resize: none;
    display: flex;
    flex-direction: column;
  }
  input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid var(--gray-light);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  input:focus {
    border-color: var(--main-dark);
    outline: none;
  }
  .form-button {
    margin-top: 15px;
    background: var(--deep-dark);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  .form-button:hover {
    background: var(--main-dark);
    color: var(--accent);
  }
  .our-clients {
    padding: 30px 0 50px;
    background-color: rgb(255, 255, 255);
  }
  .our-clients-title {
    color: var(--main-dark);
    text-align: center;
    margin-bottom: 10px;
  }
  .our-clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .our-clients-list-item p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  .our-clients-list-item img {
    max-width: 100px;
    border-radius: 8px;
  }
  .our-clients-list-item {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .our-clients-list-item:hover {
    transform: scale(1.05);
  }
  .partner-image {
    max-width: 220px;
  }
  .license {
    padding: 30px 0 50px;
  }
  .license-image {
    max-width: 100%;
  }
  .license-image.no-gap {
    display: block;
  }
  .license-title {
    color: var(--main-dark);
    text-align: center;
  }
  .reviews {
    padding: 30px 0 50px;
    background-color: rgb(255, 255, 255);
  }
  .reviews-title {
    margin-bottom: 10px;
    text-align: center;
    color: var(--main-dark);
  }
  .office-location {
    background-color: var(--accent);
    padding: 30px 0 50px;
  }
  .office-location-inner {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
  }
  .office-location iframe {
    max-width: 100%;
    display: block;
  }
  .office-location-address {
    font-style: normal;
  }
  .contact-information {
    margin: 10px 0 5px;
  }
  .office-location-address {
    margin-bottom: 5px;
  }
  .footer {
    background-color: var(--deep-dark);
    padding-top: 30px;
  }
  .footer-company-info {
    color: var(--gray-light);
  }
  .footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-company-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .footer-contact-information {
    color: var(--gray-light);
  }
  .footer-contact-phone {
    color: var(--gray-light);
    display: flex;
    flex-direction: column;
  }
  .footer-copyright {
    color: var(--gray-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-office-location-address {
    margin-bottom: 5px;
  }
  .footer-office-location-name {
    display: inline-block;
    margin-bottom: 5px;
  }
  .footer-contact-link {
    margin-bottom: 5px;
  }
  /* ====================================== */
  .swiper {
    width: 100%;
    height: 330px;
  }
  .swiper-pagination-bullet-active {
    background-color: var(--accent) !important;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .slide-content {
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .slide-content img {
    width: 100%;
    max-width: 300px; /*========= */
    height: auto;
  }
  .slide-content p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  .slide-content p:last-child {
    max-width: 275px;
  }
  
  /* ====================================== */
  @media screen and (min-width: 768px) {
    .header-button {
      display: none;
    }
    .header address {
      display: flex;
      gap: 17px;
      align-items: center;
    }
    .header-logo {
      left: -48px;
    }
    .header-link {
      display: block;
      padding: 20px 0;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
    .header-link:hover {
      color: var(--accent);
    }
    .header-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .hero {
      height: 600px;
    }
    .container {
      max-width: 608px;
    }
    .container-wrapper {
      max-width: 670px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }
    .hero-button {
      max-width: 260px;
    }
    .about-us-text {
      font-size: 18px;
    }
    .our-clients-list {
      gap: 18px;
    }
    .our-services-list {
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
    .our-services-list-item {
      width: 100%;
      height: 120px;
    }
    .our-clients-list-item img {
      max-width: 180px;
    }
    .our-advantages-list {
      justify-content: center;
      column-gap: 15px;
    }
    .our-advantages-list-item {
      max-width: 280px;
    }
    .office-location-inner {
      max-width: 608px;
    }
    .office-location-inner iframe {
      min-width: 600px;
      height: 400px;
      margin: 0 auto;
    }
    .reviews-title {
      margin-bottom: 20px;
    }
    .about-us-title {
      margin-bottom: 20px;
    }
    .our-services-title {
      margin-bottom: 20px;
    }
    .our-advantages-title {
      margin-bottom: 20px;
    }
    .our-clients-title {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }
    .our-clients-list {
      gap: 66px;
    }
    .our-services-list-item {
      height: 160px;
      border-radius: 22px;
    }
    .our-services-list {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
    }
    .about-us-text {
      font-size: 20px;
    }
    .about-us-title {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .hero {
      max-width: 1400px;
      margin: 0 auto;
    }
    .our-advantages-list-item {
      max-width: 380px;
    }
    .our-advantages-list {
      column-gap: 60px;
    }
    .our-advantages-title {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .our-advantages-list-title {
      font-size: 19px;
    }
    .our-advantages-text {
      font-size: 19px;
    }
    .our-clients-title {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .our-services-title {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .form-text {
      font-size: 19px;
    }
    .reviews-title {
      font-size: 26px;
      margin-bottom: 25px;
    }
    .contact-information {
      font-size: 19px;
    }
    .contact-phone {
      font-size: 19px;
    }
    .footer {
      font-size: 19px;
    }
    .about-us {
      padding: 80px 0;
    }
    .our-services {
      padding: 80px 0;
    }
    .our-advantages {
      padding: 80px 0;
    }
    .our-clients {
      padding: 80px 0;
    }
    .slide-content p {
      font-size: 19px;
    }
    .slide-content p:last-child {
      margin-bottom: 68px;
      max-width: 450px;
    }
    .header-list-link {
      font-size: 19px;
    }
    .header a {
      font-size: 19px;
    }
  }